.navbar{
    position: absolute;
    width: 100vw;
    height: 60px;
    left: 0px;
    top: 0px;

background: #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    margin-top: 1rem;
    margin-left: 3rem;
}
.icons{
    display: flex;
    float: right;
    margin-right: 2rem;
}
.icons>img{
    width: 1.5rem;
    height: 2rem;
    margin-top: 15px;
    margin-left: 20px;
}
.dots{
    color: #3683F0;
    margin-left: 30px;
}
.dots>li{
    margin: -0.5rem;
}
.sidebar {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  background-color: bisque;
  width: 10rem;
}
.header{

  padding: 20px;
  background-color: black;
  color: white;
  list-style-type: none;
}
.body-container{
    position: absolute;
width: 70rem;
height: 51px;
left: 15rem;
right: 15rem;
top: 8rem;

background: #0029FF;
border-radius: 10px 10px 0px 0px;
}
.inner-box{
    box-sizing: border-box;
position: absolute;
left: 15rem;
right: 15rem;
width: 70rem;
top: 11.5rem;
height: 2849px;
background: #FFFFFF;
border: 1px solid #F0F0F0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

